<h1>Listada de Sedes</h1>
<div class="container">
    <div class="row row-border">
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
class="table table-dark table-striped tabled-bordered row-border hover">
    <thead>
      <tr>
        <th>Sedes</th>
        <th>Dane</th>
      </tr>
    </thead>
    <tbody>
    <tr class="arreglo" *ngFor="let dato of data.data" [routerLink]="['/grupos',dato['dane']]">
        <td>{{dato.nombre}}</td>
        <td>{{dato.dane}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>