*{
    font-family: 'calibri';
}
td:hover{
    cursor: pointer;
    color: rgb(52, 158, 172);
}
body{
    margin-left: 150px;
    margin-right: 75px;
    margin-top: 8%;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
}
h1{
    padding-top: 12px;
    text-align: center;
}
.container{
    padding: auto;
}

.container table{
    padding: 0;
}

.container table thead tr th{
    font-family: 'Courier New', Courier, monospace;
}




