<!DOCTYPE html>
<html lang="en">
    <body id="page-top">
          <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Municipios Tolima</h1>
                    <h2 class="text-black-50 mx-auto mt-2 mb-5">Una herramienta gratuita para poder consultar instituciones de Tolima.</h2>
                    <a class="btn btn-primary js-scroll-trigger" routerLink="/">Empezar</a>
                </div>
            </div>
        </header>
                <!-- About-->
                <section class="about-section text-center" id="about">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-black mb-4">Mostrar municipios</h2>
                                <p class="text-black-50">
                                    con esta herramienta podras buscar informacion acerca de las diferentes instituciones del Tolima
                                    <a routerLink="/">obtener mas informacion</a>
                                    . desarrollado en framework angular.
                                </p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../index/assets/img/ipad.png" alt="" />
                    </div>
                </section>
    </body>
</html>
